<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a th:href="@{/logout}" class="brand-logo right">Log Out</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a th:href="@{/employees}">Employees</a></li>
            <li><a th:href="@{/desks}">Desks</a></li>
            <li><a th:href="@{/bookings}">Bookings</a></li>
        </ul>
    </div>
</nav>
<div class="w3-container w3-margin">
    <h4>Employees</h4>
    <div class="w3-margin-bottom">
        <form class="col s9" action="#" th:action="@{/employees/add}" th:object="${employee}" method="post">
            <div class="row">
                <div class="input-field col s3">
                    <label for="first_name">First Name</label><br>
                    <input th:field="*{firstName}" id="first_name" type="text" class="validate">
                </div>
                <div class="input-field col s3">
                    <label for="last_name">Last Name</label><br>
                    <input th:field="*{lastName}" id="last_name" type="text" class="validate">
                </div>
                <div class="input-field col s3">
                    <label for="employment_duration">Employment Duration</label><br>
                    <input th:field="*{employmentDurationInYears}" id="employment_duration" type="text"
                           class="validate">
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <label>Choose branch:</label>
                    <select class="browser-default" style="display: block; width: 100%" th:field="*{belongsTo}">
                        <option value="0" disabled selected>Choose your option</option>
                        <option th:each="b:${branches}" th:value="${b.city}" th:text="${b.city}"></option>
                    </select>
                </div>
                <div class="col s4">
                    <label>Is manager:</label>
                    <select class="browser-default" style="display: block; width: 100%" th:field="*{isManager}">
                        <option value="0" th:text="${false}"></option>
                        <option value="1" th:text="${true}"></option>
                    </select>
                </div>
            </div>
            <div class="col s3">
                <button class="btn waves-effect waves-light" type="submit" name="action">Add
                </button>
            </div>
            <p th:text="${message}" class="w3-text-green"></p>
            <p th:if="${#fields.hasErrors()}">
                <label class="w3-text-red">Errors:</label>
            <li th:each="err : ${#fields.allErrors()}" th:text="${err}" th:class="w3-text-red"></li>
            </p>
        </form>
    </div>
    <div class="w3-margin-top">
        <table class="highlight striped">
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Employment Duration</th>
            <th>Branch</th>
            <th>Manager</th>
            <th>Actions</th>
            <tr th:each="c:${employees}">
                <td th:text="${c.id}">999
                </td>
                <td th:text="${c.firstName}">
                    Novak
                </td>
                <td th:text="${c.lastName}">
                </td>
                <td th:text="${c.employmentDurationInYears}">
                </td>
                <td th:text="${c.belongsTo.city}">
                </td>
                <td th:text="${c.isManager}">
                </td>
                <td>
                    <a th:href="@{/employees/delete(id=${c.id})}" class="btn waves-effect waves-light2">Delete</a>
                    <a th:href="@{/employees/edit(id=${c.id})}" class="btn waves-effect waves-light2">Edit</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="w3-margin-top">
        <a class="waves-effect waves-light btn" th:href="@{/employees/download}">Download</a>
    </div>
</div>
</body>
</html>
